* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.center-stepper {
  display: flex;
  justify-content: center;
}

body {
  box-sizing: border-box;
}
/* 
.App-header {
  margin: auto;
  width: 300px;
} */
